header {
  height: 60px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;

  .hamburger {
    width: 50px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .user {
    line-height: 0;
    .icon {
      margin-right: 10px;
      display: inline;
      font-size: 35px;
      color: black;
      cursor: pointer;
    }
  }
}