a {
  text-decoration: none;
}

h4, h3, h2 {
  margin: 0;
}

.MuiPaper-root {
  width: 50%;

  @media all and (max-width: 767px) {
    width: 70%;
  }
}

.content {
  height: calc(100vh - 60px);
  display: flex;
  overflow: auto;

  &.simple {
    height: calc(95vh - 60px);
  }

  &:has(.menu-closed) {
    aside {
      width: 5%;
      overflow: hidden;
    }

    .content-wrap {
      width: 95%;
    }
  }

  aside {
    background-color: rgb(51, 51, 51);
    width: 20%;
    z-index: 1;
    transition: width 1s;

    @media all and (max-width: 1200px) {
      width: 30%;
    }
  }

  &-wrap {
    width: 80%;
    z-index: 2;
    transition: width 1s;

    @media all and (max-width: 1023px) {
      width: 100%;
    }

    main {
      height: calc(95vh - 60px);
      background-color: aquamarine;
    }
  }

  &.mobile-menu {
    height: 100vh;

    aside {
      width: 100%;
    }
  }
}

.err-mess {
  color: red;
}

.profile-form {
  width: 35%;
  display: flex;
  flex-direction: column;

  @media all and (max-width: 1199px) {
    width: 50%;
  }

  @media all and (max-width: 767px) {
    width: 80%;
  }
}
